# AggregateRoot should not use repositories
dotnet_diagnostic.XMoleculesAggregateRoot0001.severity = warning
# AggregateRoot should not use services
dotnet_diagnostic.XMoleculesAggregateRoot0002.severity = warning
# AggregateRoot should have id
dotnet_diagnostic.XMoleculesAggregateRoot0003.severity = warning

# Entity should not use repositories
dotnet_diagnostic.XMoleculesEntity0001.severity = warning
# Entity should not use aggregate roots
dotnet_diagnostic.XMoleculesEntity0002.severity = warning
# Entity should not use services
dotnet_diagnostic.XMoleculesEntity0003.severity = warning
# Entity should have id
dotnet_diagnostic.XMoleculesEntity0004.severity = warning

# Repository should not use services
dotnet_diagnostic.XMoleculesRepository0001.severity = warning

# ValueObject should not use entities
dotnet_diagnostic.XMoleculesValueObject0001.severity = warning
# ValueObject should not use services
dotnet_diagnostic.XMoleculesValueObject0002.severity = warning
# ValueObject should not use repositories
dotnet_diagnostic.XMoleculesValueObject0003.severity = warning
# ValueObject should not use AggregateRoots
dotnet_diagnostic.XMoleculesValueObject0004.severity = warning
# ValueObject should be immutable
dotnet_diagnostic.XMoleculesValueObject0005.severity = warning
# ValueObject should implement IEquatable (.net specific)
dotnet_diagnostic.XMoleculesValueObject1001.severity = warning
# ValueObject should be sealed (.net specific)
dotnet_diagnostic.XMoleculesValueObject1002.severity = warning