<#@ template language="C#" #>
namespace NMolecules.Analyzers.Test.RepositoryAnalyzerTests.SampleData
{
    using System;
    using NMolecules.DDD;using NMolecules.DDD.Attributes; // Needed for current inconsistencies in namespaces in attributes

    [<#= Session["type"] #>]
    public class Some<#= Session["type"] #>
    {
    }
    
    [Repository]
    public sealed class InvalidRepository
    {
        private readonly Some<#= Session["type"] #> <#= Session["name"] #>;
        public InvalidRepository(Some<#= Session["type"] #> value)
        {
            Value = value;
        }
        
        public Some<#= Session["type"] #> Value { get; set; }

        public Some<#= Session["type"] #> SomeMethod(Some<#= Session["type"] #> <#= Session["name"] #>)
        {
            var some<#= Session["type"] #> = new Some<#= Session["type"] #>();
            return some<#= Session["type"] #>;
        }
    }
}